{% extends "base.html" %} {% block content %}

<body>
    <form method=post>
        <p>
            <label> Username
                <input type="text" name="uname" id="uname" value="{{uname}}" />
            </label>
        </p>
        <p>
            <label>Password
                <input type="password" name="pwd" id="pwd" />
            </label>
        </p>
        <p>
            <label>Verify Password
                <input type="password" name="vpwd" id="vpwd" />
            </label>
        </p>
        <button type="submit">Submit</button>
    </form>
</body>

{% endblock %}