<!doctype html>
<html>
        <head>
            <style>
                .error{color:red}
            </style>
            <body>
                <form action="/" method="post">
                    <h1>Sign up for God's Green Acres</h1>
                    <label> User Name:
                        <input name="user_name" type="text" value='{{user_name}}'/>
                    </label>
                    <p class = "error"style="display:inline-block;">{{user_name_error}}</p>
                    </br>  
                    <label>Password:
                        <input name="password" type="password" value='{{password}}'/>
                    </label>
                    <p class = "error"style="display:inline-block;">{{password_error}}</p>
                    </br>
                    <label>Re-enter Password:
                        <input name ="verify_pw" type="password" value='{{verify_pw}}'/>
                    </label>
                    <p class = "error"style="display:inline-block;">{{verify_pw_error}}</p>
                    </br>
                    <label>E-mail address:
                        <input name = "e_mail" type="text" value='{{e_mail}}'/>
                        <p class = "error"style="display:inline-block;">{{e_mail_error}} </p>
                    <input type ="submit" value="Submit"/>
                </form>
            </body>
        </html>