Example
<!DOCTYPE html>
<html>
    <head>
        <title>rolodex</title>

        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>
        <div class="container">
            <h3>Rolodex</h3>

            <div class="card">
                <section class="thumbnail">
                    <img width="100" src="image/shawn_thumbnail.jpg" alt="shawn's thumbnail" />
                </section>

                <section class="info">
                    <p>Shawn Jones</p>

                    <P>Instructor</P>

                    <p>shawn.greg.jones@gmail.com</p>

                    <p>@Shawn Jones (Instructor)</p>
                </section>

                <div class="card">
                    <section class="thumbnail">
                        <img width="100" src="image/shawn_thumbnail.jpg" alt="shawn's thumbnail" />
                    </section>
    
                    <section class="info">
                        <p>Gail Fike</p>
    
                        <P>TA</P>
    
                        <p>gail.fike@gmail.com</p>
    
                        <p>@TA_Gail</p>
                    </section>

                <div class="clearfix"></div>
            </div>
        </div>

        <form method="post">
            Enter a message: <input type="text" name="plaintext" id="plaintext"/>
            <button type="submit">Submit</button>
        </form>
        Binary version: {{bintext}}
    </body>
</html>
